* {
	font-family:'Oswald',sans-serif;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5 {
	font-family:'Oswald',sans-serif;
	font-weight: 700;
}
.nav li{
	font-family:'Oswald',sans-serif;
	font-weight: 700;
}
a {
	color: black;
}